node_modules
.DS_Store
dist
dist-ssr
*.local
count.txt
.nitro
.tanstack
.output
.vinxi
todos.json

test-results/
.playwright-storage/*.demo.ts

certificates/

.playwright-storage/
playwright-report/
results.xml

public/latest-dev/
